{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% load static %}

{% block title %}{{ category.name }}{% endblock %}

{% block body_block %}
			
		{% if user.is_authenticated %}
			<form class="form-inline" id="user_form" method="post" action="{% url 'category' category.slug %}">
				{% csrf_token %}
				<input class="form-control" type="text" size="50" name="query" value="" id="query" />
				<input class="btn btn-primary" type="submit" name="submit" value="Search" />
				<br />
			</form>

			<div class="page-header"><h1>{{ category_name }}</h1></div>
		{% endif %}
	{% if category %}


		{% if category %}
			{% if pages %}
				<ul>
					{% for page in pages %}
						<li><a href="{% url 'goto' %}?pageid={{ page.id }}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>No pages currently in category.</strong>	
			{% endif %}
		{% else %}
			The specified category {{ category.name }} does not exist!
		{% endif %}

		<a href="/rango/category/{{ category.slug }}/add_page">Add page</a>

	{% else %}

		<strong>Requested Category does not exist</strong>

	{% endif %}

{% endblock %}